
  .container.svelte-126ak3w {
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .headers.svelte-126ak3w {
    display: flex;
    background: #333;
    color: #fff;
    border-radius: 4px 4px 0 0;
    border-bottom: 1px solid #555;
  }

  button.svelte-126ak3w {
    flex: 1;
    padding: 8px;
    cursor: pointer;
    background: #333;
    border: none;
    color: inherit;
    font-family: monospace;
    height: 39px;
  }

  button.selected.svelte-126ak3w {
    background: #555;
  }

  .content.svelte-126ak3w {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
  }
