
  input[type="range"].svelte-19z4yks::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 0;
    height: 0;
    border: none;
    background: transparent;
  }

  input[type="range"].svelte-19z4yks::-moz-range-thumb {
    width: 0;
    height: 0;
    border: none;
    background: transparent;
  }
